<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.db.sys.dao.SysRoleDao">

	<sql id="queryWhereId">
		<where>
			<if test="name != null and name != ''">
				name like concat("%",#{name},"%")
			</if>
		</where>
	</sql>
	<insert id="insertObject"
		parameterType="com.company.db.entity.SysRole" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_roles
		(id,name,note,createdTime,modifiedTime,
		createdUser,modifiedUser)
		values
		(null,#{name},#{note},now(),now(),
		#{createdUser},#{modifiedUser})
	</insert>

	<update id="updateObject"
		parameterType="com.company.db.entity.SysRole">
		update sys_roles
		<set>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="note!=null and note!=''">
				note=#{note},
			</if>
			<if test="modifiedUser!=null and modifiedUser!=''">
				modifiedUser=#{modifiedUser},
			</if>
			modifiedTime=now()
		</set>
		where id=#{id}
	</update>

	<resultMap type="com.company.db.vo.SysRoleMenuVo"
		id="roleMenuVo">
		<!-- property指定的值与resultMap类型中的set方法匹配 column 表示上个查询中的字段名 select 表示要执行的当前查询 -->
		<collection column="id"
			select="com.company.db.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId"
			property="menuIds">
		</collection>
	</resultMap>

	<select id="findObjectById" parameterType="int"
		resultMap="roleMenuVo">
		select *
		from
		sys_roles
		where id=#{id}
	</select>

	<select id="findPageObjects"
		resultType="com.company.db.entity.SysRole">
		select * from sys_roles
		<include refid="queryWhereId" />
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>

	<select id="getRowCount" resultType="int">
		select count(*) from sys_roles
		<include refid="queryWhereId" />
	</select>

	<delete id="deleteObject" parameterType="int">
		delete from sys_roles
		where id = #{id}
	</delete>

	<select id="findObjects"
		resultType="com.company.db.common.vo.CheckBox">
		select id,name
		from sys_roles
	</select>

</mapper>